$whiteColor: #fff;
$blackColor: #000;
$borderGrayColor: #e4e4e4;
$formGreenColor: #7f9d64;
$borderCatalogBox: #ebebeb;
$benefitsNum: #cdbd84;
$titleText: #69a54d;
$dateColor: #cac1a0;
$navBg: #cacaca;
$borderTableColor: #dcdcdc;

$phoneMaxWidth: 768px;
$tabletMaxWidth: 1024px;
$maxWidthScreen: 1330px;
